<body>
  <mat-card>
    <mat-card-content>
      <div class="toolbox">
        <ul>
          <li class="li-toolbox">
            <mat-icon id="img_save" class="icon-menu-questionnaire" title="Sauvegarder les réponses" (click)="saveQuestionnary()">save</mat-icon>
          </li>
        </ul>
      </div>

      <div class="d-flex justify-content-center">
        <label class="label-xxxl">{{'edit_questionnaire.title_page' | translate}}</label>
        @if (isIDVisible) {
          <span class="label-xxxl d-block">{{ id_questionnary }}</span>
        }
      </div>
      <div class="bg-light p-5 rounded card">
        <div>
          <textarea autosize class="form-control intitule input-border-bottom" placeholder="Libellé de la question" rows="1"
          [(ngModel)]="intituleQuestionnaire" name="intituleQuestionnaire" readonly></textarea>
        </div>
        <div>
          <ol>
            <ng-template #question></ng-template>
          </ol>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</body>