@use 'themes/variables' as *;
@use 'themes/mixins' as *;

body {
  background-color: var(--body-background);
  min-height: 100vh;
}
mat-card{
  background-color: var(--body-background);
}
.card{
  background-color: var(--body-background)!important;
  border: none;
}
mat-card-content{
  width: 80%;
  margin: auto;
  background-color: var(--body-background);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
} 

.label-xxl {
  font-size: var(--font-size-title);
  background-color: transparent;
  padding: 0.3vw;
  color: var(--title-section-color);
  margin-left: 12px;
  margin-right: 12px;
}
.label-xxxl {
  font-size: var(--font-size-title-page);
  background-color: transparent;
  padding: 0.3vw;
  color: var(--title-section-color);
}
.intitule{
  @include libelle-question-style();
}
.input-border-bottom{
  @include input-border-bottom-style();
}
.toolbox {
  display: block; position: fixed; left: 0; width: 50px; top: 25%;
}
.li-toolbox{
  margin-bottom: 3px; margin-left: -30px; list-style-type: none;
}
.img_toolbox{
  @include img-toolbox-style();
}
.icon-menu-questionnaire{
  color: var(--icon-menu-questionnaire);
  font-size: 48px!important;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
}